/* General Styling */
* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f8f9fa; 
  color: #333; 
  font-family: "Vesper Libre", serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Vesper Libre", serif;
  padding: 20px; 
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* Header section */
header {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
}

nav {
  width: 90%;
  margin: 10px auto;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #5C8C46; 
  font-size: 30px;
  font-weight: bold;
  margin: 0px 10px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
  color: #2A5159;
}

/* Strapline section */
.strapline-container {
  width: 90%;
  height: auto;
  margin: 10px auto;
  text-align: center;
}

.main-strapline {
  color: #2A5159; 
  font-size: 100px;
  text-transform: uppercase;
  margin: 20px 0px;
  font-family: "Poppins", sans-serif;
}

.second-strapline {
  color: #333; 
  font-size: 55px;
}

.section1-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 240%;
  margin-bottom: 25px;
  background-color: #ffffff;
  color: #2A5159; 
}

/* Bio section */

.bio-container {
  width: 97%; 
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.section-one {
  width: 100vw;
  height: auto;
  font-size: 20px;
  background-color: #f8f9fa; 
  color: #2A5159; 
}

.first-container {
  width: 97%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  height: auto;
}

.bio {
  text-align: center;
  font-weight: 545px;
  line-height: 200%;
  letter-spacing: 0.4px;
  margin: 20px;
  height: auto;
}

.left-box, .middle-box, .right-box {
  width: 31%; 
  margin: 0 1%; 
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.4px;
  box-sizing: border-box; 
}

.left-box h3,
.middle-box h3,
.right-box h3 {
  text-decoration: underline;
  font-weight: bold;
  color: #2A5159; 
  font-size: larger;
}

.left-box ul,
.middle-box ul,
.right-box ul {
  list-style-type: disc;
  margin-left: 1em;
  line-height: normal; 
}

/* Projects section */
.section-two {
  width: 100vw;
  height: auto;
  background-color: #f8f9fa; 
  color: #2A5159;  
}

.section2-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 240%;
  margin-bottom: 25px;
  background-color: #ffffff;
  color: #2A5159; 
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  width: 90%;
  margin: 20px auto;
  font-size: 20px;
  padding: 20px; 
  border: 5px solid #0B2559; 
  border-radius: 10px; 
  background-color: #ffffff; 
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.intro-box{
  width: 100%;
  line-height: 220%;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
  
}

.left-box-pro {
  width: 45%;
  text-align: left;
  line-height: 220%;
  font-weight: normal;
  letter-spacing: 0.4px;
}

.right-box-pro {
  width: 45%;
  text-align: left;
  line-height: 220%;
  font-weight: normal;
  letter-spacing: 0.4px;
   padding-left: 15px;
}

.bottom-box {
  margin-top: 20px;
  text-align: center;
}

h3{
  text-align: center;
  color:#5C8C46;
}

h4{
  text-align: left;
  color:#5C8C46;
  text-decoration: underline;
}


/* Contact section */
.contact-section {
  height: auto;
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.Contact-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 250%;
  background-color: #ffffff;
  color:#5C8C46;
}

.social-media-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 40vw;
  margin: 10px auto;
}

.social-media-icon {
  margin: 0 10.5px;
}

.social-media-icon a:hover img {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}


@media screen and (max-width: 600px) {
  header {
      height: 40vh;
  }
  
  h1 {
      display: none;
  }
}

@media screen and (max-width: 950px) {   
  h3.second-strapline {
      display: none;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }
  nav ul.active {
      display: flex;
  }
  .menu-toggle {
      display: block;
  }
  .container-1, .container-2, .container-3, .container-4 {
      flex-direction: column;
      align-items: center;
  }
  .left-box-pro, .right-box-pro {
      width: 100%;
      margin: 10px 0;
  }
}
